<div class="container content m-0 p-0">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/barandas-combinadas.jpg" class="card-img-top" alt="Imagen de barandas combinadas">
                <div class="card-body">
                  <h5 class="card-title">Barandas combinadas</h5>
                  <p class="card-text">Acero inoxidable y vidrio</p>
                  <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/escaleras.jpg" class="card-img-top" alt="Imagen de escaleras">
                <div class="card-body">
                  <h5 class="card-title">Escaleras</h5>
                  <p class="card-text">Diseño y construcción de escaleras personalizadas</p>
                  <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/barandas.jpg" class="card-img-top" alt="Imagen de barandas">
                <div class="card-body">
                  <h5 class="card-title">Balcones, cercos de pileta, escaleras</h5>
                  <p class="card-text">Solo acero inoxidable</p>
                  <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
